<!DOCTYPE html>
<html lang="fr" ng-app="todoApp">

<head>
  <meta charset="utf-8" />

  <!-- Optimize mobile viewport for responsive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Todo</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="css/todo.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <a href="https://github.com/smontri/mewo">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="icons/forkmeongithub.png" alt="Fork me on GitHub">
  </a>

  <header>
    <h1><img src="icons/new_image.jpeg" width="361" height="140"/></h1>
  </header>

  <section ng-controller="todoCtrl">
    <form id="mytodo-form" ng-submit="addTodo()">
      <input id="new-todo" placeholder="Type a new todo" ng-model="newTodo.text" />
    </form>

    <article ng-show="todos.length">
      <ul id="mytodo-list">
        <li ng-repeat="todo in todos" ng-class="{completed: todo.completed}">
          <div class="view">
            <input class="mark" type="checkbox" ng-model="todo.completed" />
            <span>{{todo.text}}</span>
            <!--span class="close" ng-click="deleteTodo(todo)">x</span-->
            <small><span class="glyphicon glyphicon-trash close" aria-hidden="true" ng-click="deleteTodo(todo)"></span></small>
          </div>
        </li>
      </ul>
      <input id="mark-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)" />
      <label class="btn btn-info" for="mark-all">Select All</label>
      <button class="btn btn-danger" ng-click="clearCompletedTodos()">Clear selected</button>
    </article>

  </section>

  <footer>
    made with love by <a href="https://www.linkedin.com/in/smontri/">TomDuss</a>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

  <!-- load our todo service -->
  <script src="js/services/todo.service.js"></script>
  <!-- load up our controller -->
  <script src="js/controllers/todo.controller.js"></script>
  <!-- load our main application -->
  <script src="js/todo.js"></script>

</body>

</html>
